.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

i.fa-microphone {
  font-size: 80px;
  width: 100px;
  height: 100px;
  border-radius: 200px;
  background: #61DAFB;/* #f00;*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 10px #efeeec;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
}
i.fa {
  font-size: -webkit-xxx-large;
  cursor: pointer;
}
i.fa-info-circle {
    color: #a6d0d0;
    font-size: 25px;
}
i.fa-microphone:before {
    color: #f5f5dc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
